body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 5px 0;
    text-align: center;
}

h1 {
    font-size: 30px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

p {
    font-size: 30px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

footer p {
    font-size: 15px;
}

.headshot {
    width: 50%;
    height: auto;
}

.resume {
    width: 50%;
    height: auto;
    margin: 0 auto;
    display: block;
}